@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:#0a192f;
    color:white;
}

.container {
    min-height: 50rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.2rem;
}